<!DOCTYPE html>
<html>
<head></head>
<body>

<%- include ("partials/nav.ejs") %>

<h1>Query sent to</h1>
<h2>Name = <%= data.who %></h2>
<h2>DEpt = <%= data.department %></h2>
<h2>Email = <%= data.email %></h2>

</body>
</html>